<%- include("partials/header")  %>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="blogTitle" >
    <label for="textPost">Post</label>
    <textarea class="form-control" id="textPost" rows="8" name="blogInput"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Publish</button>


</form>


<%- include("partials/footer")  %>
